body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
label {
  float: right;
  margin: 0;
}
label span {
  padding: 0 !important;
  padding-right: 15px !important;
}
.collection-item span {
  font-size: 15pt;
  color:#333
}
[type="checkbox"]+span:not(.lever) {
  height:12px !important
}
.collection-item {
  padding: 20px 30px !important;
}
.todo-app h2 {
  margin-bottom: 35px;
}
.no-todos-text {
  font-size: 14pt;
}
nav {
  background: #2196F3 !important;
}
nav .brand-logo {
  padding: 0px 20px;
}
.about-text {
  font-size: 14pt;
}
.add-new-label {
  color: gray;
  font-size: 14pt;
  padding: 15px 0px;
  padding-top: 35px;
  float: left;

}
.add-new-field {
  border: 1px solid rgba(0,0,0,0.25) !important;
    border-radius: 4px!important;
    padding: 8px 15px!important;
    box-sizing: border-box;
    width: 100%;
}
.collection-item span b {
  color:gray;
  font-weight: normal;
  font-size: 12pt;
  cursor: pointer;
}